body{
    background:#ddd;
}
.fill{
    background:#333;
    position: relative;
    width: 170px;
    height: 170px;
    top:5px;
    left:5px;
    cursor: pointer;
}

.empty{
    width:180px;
    height: 180px;
    display: inline-block;
    margin:10px;
    background: #fff;
    margin-left: 80px;
}

h1{
    color:#fff;
    font-size: 30px;
}
.hold{
    border:solid #ccc 4px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top:10em;
}
.box{
    width:300px;
    height:180px;
    margin:10px;
    background: #fff;
}
.filled{
    background:#333;
    position: relative;
    width:300px;
    height:180px;
    top:5px;
    left:5px;
    cursor: pointer;
}